[Desktop Entry]
Encoding=UTF-8
Name=Link to Deep Learning with Keras
Type=Link
URL=https://github.com/ktd2001/Data-Analysis/blob/master/Deep%20Learning%20with%20Keras
Icon=text-html
